<header>
<img src="../../assets/images/Logo Orenda (Dorado).png">
<h1>Bienvenidos</h1>
<p>"El Cambio Comienza en Ti"</p>
</header>
<nav>
  <li><a [routerLink]="['']">Inicio</a></li>
  <li><a [routerLink]="['/Nosotros']">Nosotros</a></li>
  <li><a [routerLink]="['/Categoria']">Categoria</a></li>
  <li><a [routerLink]="['/productos']">Productos</a></li>
  <li><a [routerLink]="['/Consejos']">Consejos</a></li>
</nav>
<div class="animation-container">
  <div class="animation-text">¡Envíos a todo Colombia!</div>
</div>

