
<app-header></app-header>
    

<body>
<h1>¿TIENES DUDAS?</h1>
<h2>Comunicate con Nosotros</h2>

<div class="container">
<p>
    En tu Tienda Orenda, valoramos tu opinión y estamos aquí para ayudarte en lo que necesites. Si tienes alguna pregunta, comentario o sugerencia, no dudes en contactarnos,

    Estamos comprometidos con brindarte el mejor servicio posible y esperamos poder atenderte pronto.
    </p>

    <p>¡Gracias por elegirnos!</p>
</div>


<a href="https://wa.me/+573004814669" class="whatsapp-button" target="_blank">
    <i class="fab fa-whatsapp"></i> ¡Contáctanos por WhatsApp!
  </a>
</body>