<!-- src/app/carrito/carrito.component.html -->
<app-header></app-header>
<div class="carrito-container">
  <h2>Carrito de Compras</h2>

  <!-- Verificación si hay productos -->
  <div *ngIf="products.length > 0; else carritoVacio">
    <div class="productos">
      <!-- Iteración sobre los productos -->
      <div *ngFor="let product of products" class="producto">
        <div class="product-info">
          <img [src]="product.imagen" alt="Imagen del Producto">
          <div class="details">
            <p class="nombre">{{ product.nombre }}</p>
            <p class="precio">{{ product.precio | currency }}</p>
          </div>
        </div>
        <div class="actions">
          <div class="quantity-controls">
            <button class="quantity-button" (click)="decrementQuantity(product)">-</button>
            {{ product.cantidad }}
            <button class="quantity-button" (click)="incrementQuantity(product)">+</button>
          </div>
          <button class="remove-button" (click)="removeFromCart(product)">Eliminar</button>
        </div>
      </div>
    </div>
    <div class="total-price">
      <h3>Total: {{ totalPrice | currency }}</h3>
      <button class="pay-button" type="button"><a href="https://wa.me/+573004814669" target="_blank">Concretar Compra</a></button>
    </div>
  </div>

  <!-- Template para carrito vacío -->
  <ng-template #carritoVacio>
    <div class="carrito-vacio">
      <span>No hay productos en el carrito</span>
    </div>
  </ng-template>
</div>

<app-footer></app-footer>