<div class="container">
    <div class="content">
      <!-- Contenido principal de la página -->
    </div>
    <div class="sidebar">
      <ul>
        <li><a href="#plata">Plata </a></li>
        <li><a href="#llamadores">Llamadores </a></li>
        <li><a href="#brazaletes">Brazaletes y Tobilleras </a></li>
        <li><a href="#amuletos">Amuletos </a></li>
        <li><a href="#tejidos">Tejidos </a></li>
        <li><a href="#talismanes">Talismanes </a></li>
        <li><a href="#espacio">Espacio </a></li>
      </ul>
    </div>
  </div>
  