#Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    border-radius: 20px;
    border: 1px solid #FCCB55;
    padding: 40px;
    box-shadow: 10px 10px 5px #FCCB55;
    width: 250px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    border: none;
    background-color: #FCCB55;
    height: 30px;
    width: 100px;
    margin-left: 30px;
    border-radius: 20px;
}
.form img{
    width: 100px;
    height: 100px;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgProducto{
    width: 100px;
    height: 100px;
}
input{
    margin-bottom: 20px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #FCCB55;
}
textarea{
    border: none;
    border-bottom:1px solid #FCCB55;
    margin-bottom: 20px;
}
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FCCB55;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
}

.custom-file-upload input[type="file"] {
display: none;
}

.container{
    display: flex;
    align-items: center;
}

#bottone1 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #FCCB55;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
   }
   
   #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #ffb404;
   }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #fab002;
   }

select[name="opciones"] {
    border: none;
    border-bottom: 1px solid #FCCB55;
    padding: 10px;
    border-radius: 5px;
    appearance: none; /* Esto elimina el estilo nativo del navegador */
    cursor: pointer;
    margin-bottom: 20px;
}
select{
    margin-bottom: 20px;
}

