<app-header></app-header>
<section>
  <div class="product-container">
    <div class="product-row" *ngFor="let row of productRows; let i = index">
      <div class="product-card" *ngFor="let product of row">
        <img class="imgProducto" [src]="product.imagen" alt="{{ product.nombre }}"><br>
        <div class="contenido">
        <h3>{{ product.nombre }}</h3><br>
        <p>{{ product.descripcion }}</p><br>
        <p>Precio: {{ product.precio }}</p><br>
      </div>
        <div class="botones">
        <button (click)="addToCart(product)" id="bottone1"><strong>Comprar</strong></button>
        <button class="eliminar"  (click)="eliminarProducto(i, product)" id="eliminarProductoBtn">Eliminar</button>
      </div>
      </div>
    </div>
  </div>

  <div *ngIf="products.length === 0" class="no-products">
    <p>No hay productos disponibles.</p>
  </div>
</section>
