<app-header></app-header>
<section>
  <div class="product-container">
    <div class="product-row" *ngFor="let row of productRows">
      <div class="product-card" *ngFor="let product of row">
        <img class="imgProducto" [src]="product.imagen" alt="{{ product.nombre }}">
        <h3>{{ product.nombre }}</h3>
        <p>{{ product.descripcion }}</p>
        <p>Precio: {{ product.precio }}</p>
        <button (click)="addToCart(product)" id="bottone1"><strong>Comprar</strong></button>
      </div>
    </div>
  </div>

  <div *ngIf="products.length === 0" class="no-products">
    <p>No hay productos disponibles.</p>
  </div>
</section>
