<app-header></app-header>
<app-slider></app-slider>
<h1> NUESTROS ACCESORIOS</h1>
<div class="card-container">
    <div class="card">
      <img src="../../assets/images/lampara.jpg" alt="Imagen 1" class="card-image">
      <div class="card-content">
        <h3 class="card-title">Lampara Amatista</h3>
        <p class="card-text">una lámpara hecha de amatista, que es un tipo de cuarzo de color violeta a púrpura. La amatista es una piedra preciosa muy apreciada por su belleza y propiedades metafísicas.</p>
       
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/pulseramorada.jpg" alt="Imagen 2" class="card-image">
      <div class="card-content">
        <h3 class="card-title">Pulsera Amatista</h3>
        <p class="card-text">Habitualmente la amatista regala a personas que sabemos que estan evolucionando ya que representan cambios espirituales y desarrollo de algunas creecias</p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/pulseraroja.jpg" alt="Imagen 3" class="card-image">
      <div class="card-content">
        <h3 class="card-title">Pulsera De Cruz</h3>
        <p class="card-text">Es una hermosa pulsera hecha a mano con una forma de cruz en oro laminado de 18k</p>
      </div>
    </div>
  </div>


<app-footer></app-footer>