<app-header></app-header>

<section class="cuidados">
    <div class="cuidados-section">
      <h2>Almacenamiento adecuado</h2>
      <p>Guarda tus joyas en un lugar fresco y seco, lejos de la luz solar directa y de fuentes de calor. Utiliza un estuche de joyería o una bolsa suave para protegerlas de arañazos y enredos.</p>
      <div class="video-container">
        <video controls>
          <source src="assets/videos/video_almacenamiento.mp4" type="video/mp4">
          Tu navegador no admite el elemento <code>video</code>.
        </video>
      </div>
    </div>
    <div class="cuidados-section">
      <h2>Evitar el contacto con productos químicos</h2>
      <p>Evita el contacto directo de tus joyas con perfumes, lociones, cloro, agua salada y otros productos químicos que puedan dañarlas. Quítate las joyas antes de aplicarte cosméticos o productos de limpieza.</p>
      <div class="video-container">
        <video controls>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/emYNC62IUbI?si=a4FqypOyv7j5hDb2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          Tu navegador no admite el elemento <code>video</code>.
        </video>
      </div>
    </div>
    <!-- Repite lo mismo para cada sección de cuidado -->
  </section>
  
  