body{
  font-family: Arial, Helvetica, sans-serif;
}

#Container {
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top:5%;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 30px;
  margin: 20px;
  margin-top: -5%;
  overflow: hidden; /* Ocultar contenido que sobresalga */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; /* Color del texto */
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  outline: none;
  border-color: #fccb55; /* Color del borde al estar enfocado */
}

textarea.form-control {
  resize: vertical;
}

.custom-file-upload {
  display: inline-block;
  padding: 12px 20px;
  background-color: #fccb55;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15%;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #ffa726; /* Cambio de color al pasar el ratón */
}

.custom-file-upload input[type="file"] {
  display: none;
}

.img-container {
  width: 100%;
  max-width: 100%; /* Tamaño máximo del contenedor de la imagen */
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid #ccc; /* Borde ligero para el contenedor de la imagen */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para el contenedor de la imagen */
  overflow: hidden; /* Ocultar contenido que sobresalga */
}
.image-preview {
  max-width: 700px; /* Ejemplo: Ancho máximo de 300px */
  max-height: 660px; /* Ejemplo: Altura máxima de 300px */
  overflow: hidden; /* Para recortar la imagen si excede las dimensiones máximas */
  border-radius: 20px;
}

.imgProducto {
  width: 100%; /* Asegúrate de que la imagen ocupe todo el espacio dentro de su contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
}

#bottone1 {
  padding: 12px 30px;
  border-radius: 8px;
  background-color: #fccb55;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 28%;
  margin-top: 2%;
  transition: background-color 0.3s ease;
}

#bottone1:hover {
  background-color: #ffa726; /* Cambio de color al pasar el ratón */
}

select.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  appearance: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .form {
    padding: 20px;
  }
  
  .form-control, select.form-control {
    font-size: 14px;
  }
}
